
*{
	margin: 0;
	padding: 0;
}
.head{
	width: 100%;
	height: 100px;
}

.nav{
	width: 100%;
	height: 550px;	
	background-image: url('https://wse.com.cn/_ui/responsive/theme-alpha/img/images_content/T20/About/Desktop/T20_01.png');
	background-size: 100% 500px;
	background-repeat: no-repeat;
}

.nav .section .bread{
	display: flex;
	padding: 50px 40px;
}
.nav .section .bread li{
	list-style: none;
	color: white;
	margin-left: 10px;
}
.nav .section .bread li a{
	text-decoration: none;
	color: white;
}
.nav .container{
	margin-top: 100px;
	width: 100%;
	height: 50px;
	/* background: yellow; */
}
.nav .container span{
	margin-left: 500px;
	margin-top: 20px;
	font-size: 55px;
	color: white;
}
.banner{
	width: 100%;
	height: 900px;
	/* background: pink; */
}
.banner .img{
	float: left;
	width: 100px;
	height: 600px;
	
}
.banner .img img{
	width: 500px;
	height: 900px;
}
.content{
	margin-left: 45%;
}
.content span{
	font-size: 40px;
}
.content-bottom{
	color: #043458;
	width: 750px;
	height: 100px;
	/* border:1px solid red; */
	margin-left: -190px;
	margin-top: 30px;
	text-align: center;
}
.content-right{
	width: 500px;
	height: 500px;
	/* border:1px solid red; */
	margin-left: 650px;
	margin-top: 100px;
}
.content-right span{
	margin-top: 10px;
	font-size: 40px;
	color: red;
}
.content-right div{
	margin-top: 20px;
}

.banner2{
	width: 100%;
	height: 900px;
	/* background: gray; */
}
.banner2 .container{
    width: 1181px;
    padding: 0;
}
.banner2 .container{


}
.banner2 .container h1{
	color: #043458;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	padding-left: 200px;
	padding-right: 120px;
	margin-top: 30px;
	margin-bottom: 8px;
}
.banner2 .img img{
	float: right;
}
.banner2 .round{
	width:800px;
	height: 800px;
	background:#043458;
	border-radius: 50%;
	margin-left: 30%;
}
.banner2 .round .swiper-wrapper ul li{
	list-style: none;
	float: left;
	margin-left: 15px;

}
.main{
	width:100%;
	height: 750px;
	/* background:green; */
}
.main .container span{
	font-size: 40px;
	color:red;
	margin-left: 200px;
}
.main .box-item{
	justify-content:center;
	display: flex;
}
.main .item{
	width: 270px;
	height: 600px;
	/* border:1px solid red; */
	margin-left: 40px;
} 
.main .item img{
	width: 240px;
	height: 240px;
	border-radius:50%;
	margin-left: 15px;
} 	
 .main .item .des{
	 margin-top: 9px;
 }
 .main .item a{
	 color: red;
 }
 .main2{
	 width: 100%;
	 height: 600px;
	 background:#F2F1F1;
 }
 .main2 .item{
 	width: 270px;
 	height: 500px;
 	/* border:1px solid red; */
	margin-left: 40px;
 } 
  .main2 h1{
	  margin-bottom: 10px;
  }
 .main2 .item img{
 	width: 240px;
 	height: 240px;
 	border-radius:50%;
 	margin-left: 15px;
 } 
 .main2 .box-item{
	margin-top:40px;
	display: flex;
	justify-content: center;
 }
 
 .main2 .item .des{
 	 margin-top: 20px;
 }

 .main2 .container span{
 	font-size: 40px;
 	color:#043458;
 	margin-left: 20px;
 }
 .bottom{
	 width: 100%;
	 height: 400px;
 }
